@import "../../../../styles/variables.module";

//
.statusIndicator, .statusText {
  display: inline-block;

  @media (max-width: 600px) {
    display: block;
  }
}


// Server manager table
.servicesTable {
  border: 1px solid $table-color-border;
  border-radius: 3px;
  border-collapse: separate;
  border-spacing: 0;

  tbody{
    color: white;
    box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.2);
    tr{
      th{
        border: 1px solid $table-color-border;
        background-color: $table-color-header-background;
      }
      td {
        border: 1px solid $table-color-border;
        background-color: $table-color-background;
      }
    }
    tr:nth-child(even) {
      th{
        border: 1px solid $table-color-border;
        background-color: $table-color-header-background-nth;
      }
      td{
        background-color: $table-color-background-nth;
      }
    }
  }
}