@import "variables.module";


.bgImgZt {
  background: $color-main url($backgrounds-path + "bg-zt.jpg") no-repeat center fixed;
  background-size: cover;
}

#ZT-user-editor .authorised {
  color: green;
}

#ZT-user-editor .unauthorised {
  color: red;
}

#ZT-user-editor form {
  margin-top: 30px;
}