@import "../../../styles/variables.module";

// Styles for navigation options
.customNavLink {
  color: white;
}

.customNavLink.inactive {
  color: #d2d1dc !important;
}

// Navbar container
.styleNavbar {
  // Font
  font-family: Helvetica, sans-serif;
  font-size: large;

  // border
  border-bottom: 2px solid $color-aux;

  // Background
  background-color: $color-main;
  background-image: $linear-gradient-top;
}
