@use 'sass:color';

// Color theme
$color_main: #120b49;
$color_main_transparent: #120b49 + F7;
$color_aux: #594eea;
$color_list: #312771;
$color_list_transparent: $color_list + F7;
$color_list_light: color.adjust($color_list, $red: 20, $green: 20, $blue: 20);
$color_list_light_transparent: $color_list_light + F7;

// Path to images, etc.
$resources_path: "./res/";

// Gradients applied with `background-image:`
$linear_gradient_top: linear-gradient(180deg, rgba(255, 255, 255, .04), rgba(255, 255, 255, 0));
$linear_gradient_bottom: linear-gradient(0deg, rgba(255, 255, 255, .04), rgba(255, 255, 255, 0));


//
// Navbar
//

// Styles for navigation options
.nav-link {
  color: white;
}

.nav-link.inactive {
  color: #d2d1dc !important;
}


// Navbar container
.style-navbar {
  // Font
  font-family: Helvetica, sans-serif;
  font-size: large;

  // border
  border-bottom: 2px solid $color_aux;

  // Background
  background-color: $color_main;
  background-image: $linear_gradient_top;
}


//
// Main formatting
//

// Backgrounds for pages
.bg-img-main {
  background: $color_main url($resources_path + "/bg-main.jpg") no-repeat center fixed;
  background-size: cover;
}

.bg-img-services {
  background: $color_main url($resources_path + "/bg-services.jpg") no-repeat center fixed;
  background-size: cover;
}

.bg-img-zt {
  background: $color_main url($resources_path + "/bg-zt.jpg") no-repeat center fixed;
  background-size: cover;
}

// Style for section container
.style-custom-section {
  // Border
  border: 3px solid $color_aux;
  border-radius: 5px;

  //Background
  background-color: $color_main_transparent;

  //Display Settings
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 0 50px 0;
  text-align: center;
}

// List styling
ul.striped-list > li {
  // Lighter background
  background-color: $color_list_light_transparent;
  border-color: $color_aux;
}

// For every odd element
ul.striped-list > li:nth-of-type(odd) {
  // Keep the dark background
  background-color: $color_list_transparent;
}


// Player list I think?
.server-tooltip {
  margin-top: 10px;
  background-color: aqua;
}


//
// General
//

// Custom right margin for services
.me-name {
  margin-right: 12.68rem;
}

// Responsive width
.max-width-4 {
  max-width: 60vw;
}

//
// ZeroTier
//

#ZT-user-editor .authorised {
  color: green;
}

#ZT-user-editor .unauthorised {
  color: red;
}

#ZT-user-editor form {
  margin-top: 30px;
}

//
// Responsiveness
//

@media (max-width: 992px) {
  .no-padding-md {
    padding: 0;
  }

  .style-custom-section {
    margin-top: 0;
    border-radius: 0;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .no-padding-sm {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .max-width-4 {
    max-width: 100vw;
  }

  .max-width-3 {
    max-width: 75vw;
  }

  .max-width-2 {
    max-width: 50vw;
  }

  .max-width-1 {
    max-width: 25vw;
  }
}