@import "../../../styles/variables.module";

.listContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dataContainer {
  ul{
    list-style: none;
  }

  .header {
    font-weight: bold;
  }

  .entry{
    font-size: 1.2rem;


    .data{
      margin-left: .5vh;

      // For animation
      position: absolute;
    }
  }

}
